/* third party font */
@font-face{
    font-family: custom;
    src: url(./customfont.ttf)
}


/* class selector */
.title{
    text-decoration: overline underline;
    font-family: custom;
    font-weight: bold
}

/* ID selector */
#author{
    text-decoration: underline;
}


/* universal selector */
*{
    background-color:bisque;
}
@media only screen and (max-width: 700px){
    *{
        background-color:azure
    }
}

/* attribute selector */
img[class = "nbaplayer"]{
    margin-top:25px;
    margin-bottom:25px;
    margin-left: 25px;
    margin-right: 25px;
    max-width: 70%
}

/* element selector */
p{
    margin:0, 0, 0, 25px;
    text-align: left;
}

/* Pseudo-class selector */
circle:hover{
    fill:rgb(0,0,0);
}
canvas{
    margin: auto;
    height:200px;
    width: 300px;
    border-width:1px;
    border-style:solid;
    border-color: black;
    border-radius: 5px;
}
.email:hover{
    color: hsl(0, 100%, 50%)
}
.email:active{
    color: rgba(0,255,0)
}

/* Selector List */
h1, h2 { font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}

/* Descendant Combinator */
p b{
    color: hsla(120,100%,50%,0.3)
}

/* Child Combinator */
ol > li{
    font-style:italic
}

/* general sibiling combinator */
h1 ~ p{
    font-weight: bold;
}

/* adjacent sibling combinator */
h2+h3{
    font-style: italic
}

/* Combine two selectors */
h2+p i{
    color:blue
}


.flex-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color:blue;
    padding-left: 20px;
    padding-top:20px;
    padding-bottom: 20px;
    padding-right: 20px;
    width: 50%;
    
}

.flex-container > div{
    background-color:bisque;
    width: 100px;
    margin: 10px;
    text-align:center;
    line-height: 75px;
    font-size: 30px;
}

.player1{grid-area: player1}
.player2{grid-area: player2}
.player3{grid-area: player3}
.label1{grid-area: label1}
.label2{grid-area: label2}
.label3{grid-area: label3}
.skill1{grid-area:skill1}
.skill2{grid-area:skill2}
.skill3{grid-area:skill3}
.like1{grid-area:like1}
.like2{grid-area:like2}
.like3{grid-area:like3}

.grid-container{
    display:grid;
    grid-template-areas:
    'label1 label1 label2 label2 label3 label3'
    'player1 player1 skill1 skill1 like1 like1'
    'player2 player2 skill2 skill2 like2 like2'
    'player3 player3 skill3 skill3 like3 like3';
    grid-gap: 5px;
    background-color: orange;
    align-content:center;
    padding: 10px;
}

.grid-container>div{
    text-align: center;
    padding: 20px 0 0 0;
    font-size: 15 px;
}

video{
    min-width: 30%;
}

p.noshow{display:none;}
p.next{display:block;}

div.static{
    position: static;
    border: 2px solid black
}
aside.fixed{
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    border: 3px solid black;
}
